* {
  box-sizing: border-box;
}

body {
  background-color: #f4f4f4;
  padding: 30px;
  font-family: "Prosto One", sans-serif;
}

.page-wrapper {
  overflow: hidden;
  max-width: 440px;
  margin: auto;
  border-radius: 40px 40px 0px 0px;
  box-shadow: 0px 0px 20px 0px rgba(132, 132, 132, 0.3);
  background: rgb(247, 247, 247);
}

.header {
  padding: 184px 19px 17px;
  background: url("../img/header.png") no-repeat center / cover;
  border-radius: 40px 40px 0px 0px;
}

.name {
  color: rgb(158, 156, 156);
  font-size: 20px;
  line-height: 25px;
  text-shadow: 0 0 5px #ffffff;
  -webkit-text-stroke: 0.25px #ffffff;
}

.name-text {
  color: rgb(255, 255, 255);
  font-size: 11px;
  line-height: 14px;
  margin-top: 10px;
}

.container {
  max-width: 440px;
  margin: auto;
  box-shadow: 0px 0px 20px 0px rgba(132, 132, 132, 0.3);
  background: rgb(247, 247, 247);
  padding-bottom: 30px;
}

.main {
  display: flex;
  justify-content: space-between;
}

.main-text {
  margin-left: 19px;
  max-width: 198px;
}

h1 {
  color: rgb(0, 0, 0);
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  margin: 10px 0;
}

p {
  margin: 0;
}

.main-text-content {
  color: rgb(116, 116, 116);
  font-size: 10px;
  line-height: 10px;
  text-align: left;
  margin-top: 10px;
}

.main-avatar {
}

.main-avatar-icon {
  margin-top: -73px;
  margin-right: 36px;
}

.contact {
  text-align: center;
}

.img-contact {
  margin-top: 32px;
}

.container-btn {
  width: 310px;
  height: 165px;
  border-radius: 15px;
  box-shadow: 0px 0px 30px 0px rgba(92, 92, 92, 0.25);
  background: rgb(247, 247, 247);
  margin: 32px auto;
  padding: 20px;
}

.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 270px;
  margin: auto;
  gap: 20px;
}

.btn {
  height: 35px;
  width: 125px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tg {
  background-color: #0088cc;
}

.vk {
  background-color: #4c75a3;
}

.wa {
  background-color: #2cb742;
}

.gh {
  background-color: #000000;
}

.button-icon {
}

.email {
  height: 15px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-top: 20px;
}

.email-name {
  color: rgba(0, 0, 0, 0.79);
  font-size: 12px;
  line-height: 15px;
  text-shadow: 0 2px 3px rgb(143, 141, 141);
}

.email-text {
  color: rgb(141, 139, 139);
  font-size: 12px;
  line-height: 15px;
}
